<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!--TODO - need to change the file path-->
		<add key="filepath" value="C:\data\FileWtcher"/>
	</appSettings>
	<connectionStrings>
		<!--TODO - need to change to use ConnectionStringBuilder-->
		<add name="IS_FileWatcher"
			 providerName="Microsoft.Data.SqlClient"
			 connectionString="Server=TX102WVD2SQL71\SQL71; Database=IS_FileWatcher; Integrated Security=SSPI;" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>